.create-new {
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
    bottom: 600px;
    background-color: rgba(	254,251,247,0.844);
    border-radius: 5px;
    border-width: 20%; 
    padding: 5%;

}

.new-post {
    position: relative;
}


 textarea{
    border: 2px solid #cccccc;
	padding: 2px;
	font-family: Tahoma, sans-serif;
} 

